[Desktop Entry]
Name=Resilio Sync
GenericName=Sync
Comment=
TryExec=
Exec=firefox https://localhost:8888/gui/
Terminal=false
Type=Application
Keywords=
Icon=resilio
Categories=
StartupNotify=false
MimeType=
